In [9]:
import pandas as pd
import html5lib
import requests
import string
from bs4 import BeautifulSoup

In [10]:
url= 'http://www.bls.gov/oes/2009/may/oes151021.htm'
r = requests.get(url)

In [11]:
soup = BeautifulSoup(r.content)

In [12]:
tables = soup.find_all("table")
data_table = tables[3]

In [13]:
data_table

<table border="1" cellpadding="5">
<tr>
<th align="center" valign="middle" width="300"> Industry </th>
<th align="center" valign="middle" width="100"> Employment </th>
<th align="center" valign="middle" width="100"> Hourly mean wage </th>
<th align="center" valign="middle" width="100"> Annual mean wage </th>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_541500.htm">Computer Systems Design and Related Services                                                                                 </a> </td>
<td align="center" valign="middle" width="100">129,780</td>
<td align="center" valign="middle" width="100">$36.59</td>
<td align="center" valign="middle" width="100">$76,110</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_511200.htm">Software Publishers                                                                                                          </a> </td>
<td align="center" valign="middle" width="100">18,150</td>
<td align="center" valign="middle" width="100">$41.11</td>
<td align="center" valign="middle" width="100">$85,510</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_551100.htm">Management of Companies and Enterprises                                                                                      </a> </td>
<td align="center" valign="middle" width="100">17,560</td>
<td align="center" valign="middle" width="100">$35.70</td>
<td align="center" valign="middle" width="100">$74,250</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_561300.htm">Employment Services                                                                                                          </a> </td>
<td align="center" valign="middle" width="100">14,280</td>
<td align="center" valign="middle" width="100">$35.82</td>
<td align="center" valign="middle" width="100">$74,510</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_611300.htm">Colleges, Universities, and Professional Schools                                                                             </a> </td>
<td align="center" valign="middle" width="100">11,640</td>
<td align="center" valign="middle" width="100">$29.25</td>
<td align="center" valign="middle" width="100">$60,840</td>
</tr>
</table>

In [14]:
for row in data_table.find_all('tr'):
    for r in row.find_all('td'):
        print(r.text)

Computer Systems Design and Related Services
129,780
$36.59
$76,110
Software Publishers
18,150
$41.11
$85,510
Management of Companies and Enterprises
17,560
$35.70
$74,250
Employment Services
14,280
$35.82
$74,510
Colleges, Universities, and Professional Schools
11,640
$29.25
$60,840

In [15]:
industry = []
employment = []
wage = []
salary = []

In [16]:
for row in data_table.find_all("tr"):
    col = row.find_all("td")
    
    if col:
        
        column_1 = col[0].text.strip()
        industry.append(column_1)

        column_2 = col[1].text.strip()
        employment.append(column_2)

        column_3 = col[2].text.strip()
        wage.append(column_3)

        column_4 = col[3].text.strip()
        salary.append(column_4)

In [17]:
columns = {'Industry': industry, 'Employment': employment, 'Hourly Wage': wage, 'Yearly Salary': salary}
df = pd.DataFrame(columns)
df

,Employment,Hourly Wage,Industry,Yearly Salary
0,"129,780",$36.59,Computer Systems Design and Related Services,"$76,110"
1,"18,150",$41.11,Software Publishers,"$85,510"
2,"17,560",$35.70,Management of Companies and Enterprises,"$74,250"
3,"14,280",$35.82,Employment Services,"$74,510"
4,"11,640",$29.25,"Colleges, Universities, and Professional Schools","$60,840"