In [1]:
import pandas as pd
import requests
import string
from bs4 import BeautifulSoup

In [2]:
url= 'http://www.bls.gov/oes/2009/may/oes151021.htm'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.content)

In [4]:
tables = soup.find_all("table")
data_table = tables[3:4]

In [5]:
data_table

[<table border="1" cellpadding="5">
 <tr>
 <th align="center" valign="middle" width="300"> Industry </th>
 <th align="center" valign="middle" width="100"> Employment </th>
 <th align="center" valign="middle" width="100"> Hourly mean wage </th>
 <th align="center" valign="middle" width="100"> Annual mean wage </th>
 </tr>
 <tr>
 <td align="center" valign="middle" width="300"><a href="naics4_541500.htm">Computer Systems Design and Related Services                                                                                 </a> </td>
 <td align="center" valign="middle" width="100">129,780</td>
 <td align="center" valign="middle" width="100">$36.59</td>
 <td align="center" valign="middle" width="100">$76,110</td>
 </tr>
 <tr>
 <td align="center" valign="middle" width="300"><a href="naics4_511200.htm">Software Publishers                                                                                                          </a> </td>
 <td align="center" valign="middle" width="100">18,150</td>
 <td align="center" valign="middle" width="100">$41.11</td>
 <td align="center" valign="middle" width="100">$85,510</td>
 </tr>
 <tr>
 <td align="center" valign="middle" width="300"><a href="naics4_551100.htm">Management of Companies and Enterprises                                                                                      </a> </td>
 <td align="center" valign="middle" width="100">17,560</td>
 <td align="center" valign="middle" width="100">$35.70</td>
 <td align="center" valign="middle" width="100">$74,250</td>
 </tr>
 <tr>
 <td align="center" valign="middle" width="300"><a href="naics4_561300.htm">Employment Services                                                                                                          </a> </td>
 <td align="center" valign="middle" width="100">14,280</td>
 <td align="center" valign="middle" width="100">$35.82</td>
 <td align="center" valign="middle" width="100">$74,510</td>
 </tr>
 <tr>
 <td align="center" valign="middle" width="300"><a href="naics4_611300.htm">Colleges, Universities, and Professional Schools                                                                             </a> </td>
 <td align="center" valign="middle" width="100">11,640</td>
 <td align="center" valign="middle" width="100">$29.25</td>
 <td align="center" valign="middle" width="100">$60,840</td>
 </tr>
 </table>]

In [6]:
data_table = tables[3:4]

for row in data_table.find_all('tr')[1:]:
    col = row.find_all("td")

AttributeError: 'list' object has no attribute 'find_all'

In [ ]:
col

In [ ]:
industry = []
employment = []
wage = []
salary = []

In [ ]:
data_table = tables[0]

for row in data_table.find_all("tr"):
    col = row.find_all("td")

    column_1 = col[0].string.strip()
    industry.append(column_1)

    column_2 = col[1].string.strip()
    employment.append(column_2)

    column_3 = col[2].string.strip()
    wage.append(column_3)

    column_4 = col[3].string.strip()
    salary.append(column_4)

In [ ]:
columns = {'Industry': industry, 'Employment': employment, 'Hourly Wage': wage, 'Yearly Salary': salary}
df = pd.DataFrame(columns)
df